.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


h1{
  font-size: 8em;
}

h2{
  font-size: 6em;
}

h3{
  font-size: 4em;
}

h4{
  font-size: 2.5em;
  font-weight: 700;
}

h5{
  font-size: 1.5em;
}


p{
  font-weight: 300;
  font-size: 0.85em;
}

#header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: 'League Spartan', sans-serif
}

#about, #experience{
  background-color: #121212;
  min-height: 120vh;
  width: 100vw;
  color: aliceblue;
  
}



#contact{
  width: 100vw;
  height: 10vh;
  background-color: aliceblue;
  color: #121212;
  padding-left: 30px;
}


.about-card{
  height: 72vh;
  width: 75vw;
  border: 4px aliceblue solid;
  border-radius: 8px;
  margin: auto;
  padding: 2em;

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10%;
}

.image-holder{
  width: 30%;
}
.profile-pic{
  width: 100%;
}

.about-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'League Spartan', sans-serif;
  width: 50%;
}

.work-experience, .technical-skills, #projects{
  font-family: 'League Spartan', sans-serif;

}

#projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10%;
  min-height: 100%;
}



.project-cover-holder, .project-details-holder{
  width: 80vw;
  height: 72vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.project-cover, .project-details{
  width: 80vw;
  height: 60vh;
  min-height: 250px;
  border: 4px black solid;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: 'League Spartan', sans-serif;
}




.project-details >img{
  width: 30%;
}

.detail--page{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4%;
}

.project--text, .project--technologies{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project--link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
}

.project--links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30%;
}

.project--icon{
  grid-row: 1/2;
  grid-column: 1/2;
  opacity: 40%;
  max-height: 30vh;
  width: auto;
  margin: auto;
}

.project--title, .project--detail{
  grid-row: 1/2;
  grid-column: 1/2;
  margin: auto;
  
}

